<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.small.routing.smallrouting.mapper.SLoginmsgInfoDao" >
  <resultMap id="BaseResultMap" type="com.small.routing.smallrouting.entity.SLoginmsgInfo" >
    <id column="msg_id" property="msgId" jdbcType="INTEGER" />
    <result column="phone_num" property="phoneNum" jdbcType="VARCHAR" />
    <result column="msg_content" property="msgContent" jdbcType="VARCHAR" />
    <result column="op_time" property="opTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    msg_id, phone_num, msg_content, date_format(op_time, '%Y%m%d%H%i%s') op_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from s_loginmsg_info
    where msg_id = #{msgId,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from s_loginmsg_info
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from s_loginmsg_info
    where msg_id = #{msgId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.small.routing.smallrouting.entity.SLoginmsgInfo" >
    insert into s_loginmsg_info (msg_id, phone_num, msg_content, 
      op_time)
    values (#{msgId,jdbcType=INTEGER}, #{phoneNum,jdbcType=VARCHAR}, #{msgContent,jdbcType=VARCHAR}, 
      #{opTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.small.routing.smallrouting.entity.SLoginmsgInfo" >
    insert into s_loginmsg_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="msgId != null" >
        msg_id,
      </if>
      <if test="phoneNum != null" >
        phone_num,
      </if>
      <if test="msgContent != null" >
        msg_content,
      </if>
      <if test="opTime != null" >
        op_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="msgId != null" >
        #{msgId,jdbcType=INTEGER},
      </if>
      <if test="phoneNum != null" >
        #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="msgContent != null" >
        #{msgContent,jdbcType=VARCHAR},
      </if>
      <if test="opTime != null" >
        #{opTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.small.routing.smallrouting.entity.SLoginmsgInfo" >
    update s_loginmsg_info
    <set >
      <if test="phoneNum != null" >
        phone_num = #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="msgContent != null" >
        msg_content = #{msgContent,jdbcType=VARCHAR},
      </if>
      <if test="opTime != null" >
        op_time = #{opTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where msg_id = #{msgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.small.routing.smallrouting.entity.SLoginmsgInfo" >
    update s_loginmsg_info
    set phone_num = #{phoneNum,jdbcType=VARCHAR},
      msg_content = #{msgContent,jdbcType=VARCHAR},
      op_time = #{opTime,jdbcType=TIMESTAMP}
    where msg_id = #{msgId,jdbcType=INTEGER}
  </update>
</mapper>